<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN0HxXZ6p67S0U4-FHcs8v1bGmwl6v9tk</string>
	<key>GCM_SENDER_ID</key>
	<string>466281537854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hola.Proyecto</string>
	<key>PROJECT_ID</key>
	<string>login-f0288</string>
	<key>STORAGE_BUCKET</key>
	<string>login-f0288.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466281537854:ios:e1ee83a9aa65d8c054cc6f</string>
</dict>
</plist>